#PersonagemInput{
  position: relative;
  margin:0%;
  
}
#jogadorInput{
  margin:0%;
  position: relative;
  display: block;
  
}

#raçaInput{
  margin:0%;
  position: relative;
  
 
}
#classeInput{
  margin:0%;
  position: relative;
  
 
}